<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Template/Dashboard/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Template/Dashboard/css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Template/Dashboard/js/bootstrap.min.js"></script>
    <script src="~/Template/Dashboard/js/jquery.min.js"></script>
    <script src="~/Template/Dashboard/js/main.js"></script>
    <script src="~/Template/Dashboard/js/popper.js"></script>
</body>
</html>
